{% extends "../base.html" %}
{% load l10n %}
{% load static %}
{% load api_filters %}

{% block link %}
<link rel="stylesheet" href="{% static 'api/css/tw-style.css' %}" />
<link rel="stylesheet" href="{% static 'api/css/style.css' %}" />
{% endblock link %}

{% block title %}
Order #1
{% endblock title %}

{% block header %}
  {% include "../header.html" %}
{% endblock header %}

{% block content %}
<body>
  <div>
    <div class="text-center mb-4 underline">
      ΠΑΡΑΓΓΕΛΙΑ <span class="font-bold">#{{ order.code }}</span>
    </div>
    <!-- Customer details -->
    <div class="flex flex-wrap justify-start items-end px-4">
      {% localize on %}
      <div class="border-b text-xs w-1/4 py-1">ΠΕΛΑΤΗΣ</div>
      <div class="border-b font-bold text-xs w-1/4 py-1">{{ customer.full_name }}</div>
      <div class="border-b text-xs w-1/4 py-1">ΗΜΕΡΟΜΗΝΙΑ</div>
      <div class="border-b font-bold text-xs w-1/4 py-1">{{ order.placement_datetime }}</div>
      <div class="border-b text-xs w-1/4 py-1">ΔΟΥ</div>
      <div class="border-b font-bold text-xs w-1/4 py-1">{{ customer.tax_office }}</div>
      <div class="border-b text-xs w-1/4 py-1">ΑΦΜ</div>
      <div class="border-b font-bold text-xs w-1/4 py-1">{{ customer.tin }}</div>
      <div class="border-b text-xs w-1/4 py-1">ΔΙΕΥΘΥΝΣΗ</div>
      <div class="border-b font-bold text-xs w-1/4 py-1">{{ customer.street_address }}</div>
      <div class="border-b text-xs w-1/4 py-1">ΤΗΛΕΦΩΝΟ</div>
      <div class="border-b font-bold text-xs w-1/4 py-1">{{ customer.phone }}</div>
      <div class="text-xs w-1/4 py-1">ΗΜΕΡΟΜΗΝΙΑ ΠΑΡΑΔΟΣΗΣ</div>
      <div class="font-bold text-xs w-1/4 items-end py-1">{{ order.delivery_date }}</div>
      {% endlocalize %}
    </div>
    <!-- Order Items -->
    {% for order_item in order.order_items.all %}
      <div class="flex flex-wrap my-4">
        <div class="flex text-lg bg-slate-400 border-y-4 py-2 px-4 w-full">
          <div>ΥΛΙΚΟ:</div>
          <div class="font-bold ml-2">{{ order_item.material }}</div>
        </div>
      </div>
      <div class="flex justify-between items-center px-4 w-full">
        <div class="w-1/4 text-center">ΤΕΜΑΧΙΑ</div>
        <div class="w-1/4 text-center">ΔΙΑΣΤΑΣΕΙΣ (mm)</div>
        <div class="w-2/4 text-center">ΤΑΙΝΙΕΣ/ΤΡΥΠΕΣ</div>
      </div>
      <!-- Panel Groups -->
      {% for panel_group in order_item.panel_groups.all %}
        <div class="flex justify-between border-t-2 w-full py-2">
          <div class="text-center text-sm w-1/12">{{ panel_group.quantity }}</div>
          <div class="text-center text-sm w-3/12">{{ panel_group.x_dimension }} x {{ panel_group.y_dimension }}</div>
          <div
            class="flex flex-wrap justify-center items-center text-xs w-4/12"
          >
            <div class="w-1/4"></div>
            <div class="text-center w-3/4">{{ panel_group.x_dimension }}</div>
            <div class="text-right justify-self-end w-1/4">{{ panel_group.y_dimension }}</div>
            <div
              class="flex flex-col justify-evenly border-4 byr blg border-r-grey text-xs w-3/4"
              style="width: {{ panel_group.x_dimension }}px; height: {{ panel_group.y_dimension }}px"
            >
              <p class="px-1">*</p>
              <p class="px-1">*</p>
            </div>
          </div>
          <div class="flex flex-wrap w-4/12">
            {% for sp in panel_group.strip_positions.all %}
              <div
              class="border-4 btr border-x-0 border-b-0 w-1/4 mt-2 mx-auto"
              ></div>
              <div class="text-center text-xs w-full">{{ sp.strip.name }}</div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</body>
{% endblock content %}

{% block footer %}
  {% include "../footer.html" %}
{% endblock footer %}