@font-face {
    font-family: "Roboto";
    src: url("static/api/fonts/Roboto-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("static/api/fonts/Roboto-Bold.ttf");
    font-weight: bold;
}

html { font-family: "Roboto"; }

body {
    box-decoration-break: clone;
}

header {
    position: fixed;
    top: -4.5cm;
    width: 100%;
}

footer {
    position: fixed;
    bottom: -1.5cm;
    width: 100%;
}
@page {
    size: A4;
    margin-top: 5.5cm;
    @top-center {
        content: element(header);
        width: 100%;
    }
    @bottom-left{
        content: element(footer);
    }
}

@media print {
    * {
        background-color: unset;
    }
    
    .border-y-red-500 {
        border-top-color: rgb(239 68 68) !important;
        border-bottom-color: rgb(239 68 68) !important;
    }
}
.btr {
    border-top-color: #ef4444;
}
.byr {
    border-top-color: #ef4444;
    border-bottom-color: #ef4444;
}
.blg {
    border-left-color: #4ade80;
}
.btg {
    border-top-color: #4ade80;
}
.bg-green {
    background-color: darkseagreen;
}

.keep-together {
    break-inside: avoid;
}