<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock meta %}
    {% block link %} {% endblock link %}
    <title>{% block title %}{% endblock title %}</title>
  </head>

  {% block header %}
  <header></header>
  {% endblock header %} {% block content %}
  <body></body>
  {% endblock content %} {% block footer %}
  <footer></footer>
  {% endblock footer %}
</html>
