<footer class="flex justify-center">
  <div class="text-center w-3/5 border-2">
    <div class="">ΠΑΡΑΤΗΡΗΣΕΙΣ</div>
    <div class="border-t h-12"></div>
  </div>
  <div class="text-center w-1/5 border-y-2">
    <div class="">Ο ΕΛΕΓΧΟΣ</div>
    <div class="border-t h-12"></div>
  </div>
  <div class="text-center w-1/5 border-2">
    <div class="">Ο ΛΗΠΤΗΣ</div>
    <div class="border-t h-12"></div>
  </div>
</footer>
