{% load static %}
<header>
  <div class="flex flex-col">
    <div class="flex justify-between">
      <img
        class="self-start"
        src="{% static '/api/img/logo.png' %}"
        alt="karasoulas"
        title=""
      />
      <div class="text-xs text-right px-4">
        <p class="text-lg">ΚΑΡΑΣΟΥΛΑΣ Α.Ε.Β.Ε. ΞΥΛΟΥ</p>
        <p class="text-sm">ΕΜΠΟΡΙΑ & ΕΠΕΞΕΡΓΑΣΙΑ ΠΡΟΪΟΝΤΩΝ ΞΥΛΟΥ</p>
        <p class="text-sm">ΥΛΙΚΑ ΕΠΙΠΛΟΠΟΙΙΑΣ</p>
        <p class="">2ο χλμ Τυρνάβου - Λάρισας | 40100 Τύρναβος</p>
        <p class="">Α' ΔΟΥ Λάρισας, ΑΦΜ 998575105</p>
        <p class="">Τ. 2492029220, Φ. 2492029221</p>
      </div>
    </div>
    <div class="text-center text-xl m-4">ΔΕΛΤΙΟ ΠΑΡΑΓΓΕΛΙΑΣ</div>
  </div>
</header>
